.atelier-button {
  margin-block: 1.5rem;
  scroll-behavior: smooth;
}
.atelier-button a {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-accent-color);
  border-radius: var(--search-bar-corner-rad);

  display: block;
  padding: 0.8rem 2rem;
  color: var(--main-accent-color);
  text-decoration: none;
}
.atelier-button a:hover {
  background-color: var(--main-accent-color);
  color: var(--clr-bg-main);
  transition: all 0.3s ease-in-out;
}
.atelier-button a:active {
  background-color: var(--main-accent-color);
  color: var(--clr-bg-main);
  transition: all 0s;
}
/* ================================================== */

.atelier-block {
  /* border-bottom: 1px solid var(--clr-menu-separator); */
  margin-bottom: 5rem;
}
.atelier-description-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  border-left: 2px solid var(--clr-menu-separator);
  padding-left: 1rem;
  margin-bottom: 3rem;
}
.atelier-container::after {
  content: "";
  display: block;
  clear: both;
}
.atelier-description-container h2 {
  margin-top: 0;
}
.atelier-description {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  /* justify-items: flex-start; */
  flex: 1;
}
.atelier-description p {
  margin-block: 0 1rem;
}
.atelier-description .atelier-button {
  align-self: flex-start;
  margin: 0;
  margin-top: auto;
}

.atelier-description p:first-child {
  margin-top: 0;
}
.atelier-image-block {
  /* border: 2px dotted seagreen; */
  position: relative;
  /* border-radius: 5px; */
  height: 250px;

  overflow: hidden;
}
.atelier-poster {
  /* border-radius: 5px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.atelier-logo {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
}

/* ===================================================== */
/* Gallery */
/* ===================================================== */

.atelier-gallery-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--clr-menu-separator);
}
.atelier-gallery-container i {
  display: flex;
  align-items: center;
  align-self: stretch;
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: grey;
  font-size: 1.5rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.fa-chevron-left {
  left: 0;
  border-right: 1px solid var(--clr-menu-separator);
}
.fa-chevron-right {
  order: 1;
  right: 0;
  border-left: 1px solid var(--clr-menu-separator);
}
.atelier-gallery-container i:hover {
  background-color: hsla(0, 0%, 80%);
  color: white;
}
.atelier-gallery-container i:active {
  background-color: rgb(30, 30, 30);
  color: white;
  transition: all 0s;
}

.atelier-gallery {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  height: 300px;
  width: 100%;

  padding-block: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
}

.atelier-gallery img {
  scroll-snap-align: start;
  /* The max-width is important for scrolling with JavaScript */
  max-width: 590px;
  max-height: 100%;
  /* border-radius: var(--search-bar-corner-rad); */
  flex-shrink: 0;
}
.atelier-gallery {
  scrollbar-color: hsl(0, 0%, 80%) hsl(0, 0%, 90%);
  scrollbar-width: thin;
}

.atelier-gallery::-webkit-scrollbar {
  background-color: hsl(0, 0%, 90%);
  height: 8px;
}
.atelier-gallery::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

/* ===================================================== */
/* Atelier 3D Iframe */
/* ===================================================== */

.atelier-3d {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
.atelier-iframe-wrap {
  width: 600px;
}

.atelier-iframe {
  /* width: minmax(300px, auto); */
  width: 100%;
  aspect-ratio: 16 / 9;
  /* height: 100%; */
}

/* ===================================================== */
/* VIDEO */
/* ===================================================== */

.video-wrap {
  margin-bottom: 4rem;
}

/* ===================================================== */
/* ATELIERS CARDS */
/* ===================================================== */

.atelier-card-wrap {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.atelier-card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  /* max-width: 400px; */
  border: 1px solid var(--clr-menu-separator);
  border-right: 5px solid var(--clr-menu-separator);
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--search-bar-corner-rad);
  text-decoration: none;
  transition: all 0.3s;
}
.atelier-card img {
  border-radius: var(--search-bar-corner-rad) 0px 0px var(--search-bar-corner-rad);
  width: 60px;
  height: 60px;
}
.atelier-card span {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  color: black;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  transition: all 0.3s;
}

.atelier-card:hover {
  border-color: var(--main-accent-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.atelier-card:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(5px);
  transition: all 0s;
}

.atelier-card:hover span {
  color: var(--main-accent-color);
}

/* ===================================================== */
/* MEDIA QUERY */
/* ===================================================== */

/* Screen size between: 1024 - 1366 */
@media screen and (max-width: 1365px) {
  .atelier-description-container {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
  .atelier-iframe-wrap {
    width: 450px;
  }
}

/* Screen size between: 768 - 1024 */
@media screen and (max-width: 1023px) {
  .atelier-3d {
    justify-content: space-around;
  }
}

/* Screen size between: 0 - 768 */
@media screen and (max-width: 767px) {
  .atelier-description-container {
    display: flex;
    flex-direction: column;
    border: unset;
    padding: unset;
  }
  .atelier-image-block {
    order: -1;
    min-height: unset;
    height: 200px;
    overflow: hidden;
  }
  .atelier-gallery {
    max-height: 250px;
  }
  .video-wrap video {
    height: 100%;
  }
  .atelier-card span {
    white-space: unset;
    text-align: right;
  }
}
