/*  */
.goto-button {
  margin-block: 1.5rem;
}
.goto-button a {
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-accent-color);
  border-radius: var(--search-bar-corner-rad);

  display: block;
  padding: 0.8rem;
  color: var(--main-accent-color);
  text-decoration: none;
}
.goto-button a:hover {
  background-color: var(--main-accent-color);
  color: var(--clr-bg-main);
  transition: all 0.3s ease-in-out;
}
.goto-button a:active {
  background-color: var(--main-accent-color);
  color: var(--clr-bg-main);
  transition: all 0s;
}

/* ================================================== */

.atelier-block {
  /* border-top: 1px solid var(--clr-menu-separator); */
}
.atelier-description-container {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 1.5rem;
  border-left: 2px solid var(--clr-menu-separator);
  /* border-radius: 5px; */
  padding-left: 1rem;
  /* background-color: rgb(226, 226, 226); */
}
.atelier-container::after {
  content: "";
  display: block;
  clear: both;
}
.atelier-description-container h2 {
  margin-top: 0;
}
/* .atelier-description {
} */
.atelier-description p:first-child {
  margin-top: 0;
}
.atelier-image-block {
  /* border: 2px dotted seagreen; */
  border-radius: 5px;
  height: 250px;

  overflow: hidden;
}
.atelier-poster {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MEDIA QUERY */

/* Screen size between: 1024 - 1366 */
@media screen and (max-width: 1365px) {
}

/* Screen size between: 768 - 1024 */
@media screen and (max-width: 1023px) {
}

/* Screen size between: 0 - 768 */
@media screen and (max-width: 767px) {
  .atelier-description-container {
    display: flex;
    flex-direction: column;
    border: unset;
    padding: unset;
  }
  .atelier-image-block {
    order: -1;
    min-height: unset;
    height: 200px;
  }
}
