.openingsuren-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}
.openingsuren-container table {
  margin-bottom: 1rem;
}

.contact-address {
  line-height: 160%;
}

.contact-address a {
  display: inline-block;
  font-style: normal;
  padding-left: 0.8rem;
  color: var(--color-home);
}

/* GOOGLE MAP ON PAGE */
.google-map {
  height: 400px;
  margin-bottom: 1rem;
}
