/* Details element is working like a container  */
details {
  box-sizing: border-box;
  border: 1px solid var(--clr-menu-separator);
  overflow: hidden;
}

/* summary::-webkit-details-marker {
  display: none;
} */
details summary {
  box-sizing: border-box;
  height: 3.5rem;
  background-color: aquamarine;
  border: 2px solid blueviolet;
  padding: 1rem;
  list-style: none;
  user-select: none;
}

details summary::before {
  content: "\0002B";
  padding-right: 1rem;
  font-weight: 600;
}
details[open] summary::before {
  content: "\02212";
  padding-right: 1rem;
  font-weight: 600;
}

.details-content {
  background-color: rgb(191, 253, 191);
  border: 2px solid crimson;
  padding: 1rem;
  /* transform-origin: top left; */
  overflow: hidden;
}
