:root {
  --main-width: 1200px;
  --top-bar-height: 30px;
  --menu-button-gap: 10px;
  --logo-width: 300px;
  --menu-button-pad-block: 15px;
  --menu-button-pad-inline: 15px;
  --color-activiteiten: #227ec2;
  --color-ateliers: #548f43;
  --color-kunsttheorie: #f99427;
  --color-goed-om-weten: #fdc333;
  --color-contact: #a856a9;
  --color-schrijf-in: #e7524f;
  --color-home: #111;
}
body {
  display: flex;
  flex-flow: column wrap;
  /* align-content: center; */
  /* width: var(--main-width); */
  /* border: 1px solid rgb(255, 0, 234); */
  /* margin: 0 auto; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  color: lightblue;
}

/**
* #.# Navigation Menu
*
* Menu setup with dropdown menus for desktop and smartphone mode.
*/
nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  height: 80px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 10px; */
  margin-left: 50px;
}

.js-menu-item {
  position: relative;
}

.js-menu-button {
  display: block;
  box-sizing: content-box;
  /* padding: 5px 20px 5px 20px; */
  padding-bottom: 3px;
  margin: 5px 20px 5px 20px;
  color: var(--color-home);
  font-size: 1.2rem;
  font-weight: bolder;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
}
.js-menu-active {
  cursor: pointer;
}
/* Menu Items on hover and when the page is active and also logo settings. */
.js-menu-active.menu-activiteiten {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-activiteiten);
  color: var(--color-activiteiten);
}
.js-menu-active.menu-ateliers {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-ateliers);
  color: var(--color-ateliers);
}
.js-menu-active.menu-kunsttheorie {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-kunsttheorie);
  color: var(--color-kunsttheorie);
}
.js-menu-active.menu-weten {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-goed-om-weten);
  color: var(--color-goed-om-weten);
}
.js-menu-active.menu-contact {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-contact);
  color: var(--color-contact);
}
.js-menu-active.menu-inschrijven {
  padding-bottom: 0px;
  border-bottom: 3px solid var(--color-schrijf-in);
  color: var(--color-schrijf-in);
}

/* Current page */
#activiteiten {
  color: var(--color-activiteiten);
}
#ateliers {
  color: var(--color-ateliers);
}
#kunsttheorie {
  color: var(--color-kunsttheorie);
}
#weten {
  color: var(--color-goed-om-weten);
}
#contact {
  color: var(--color-contact);
}
#inschrijven {
  color: var(--color-schrijf-in);
}
/* Logo on current page */
.logo-home {
  background-image: url("images/logo-circle-text-home.png");
  background-size: cover;
}
.logo-activiteiten {
  background-image: url("images/logo-circle-text-blue.png");
  background-size: cover;
}
.logo-ateliers {
  background-image: url("images/logo-circle-text-green.png");
  background-size: cover;
}
.logo-kunsttheorie {
  background-image: url("images/logo-circle-text-orange.png");
  background-size: cover;
}
.logo-weten {
  background-image: url("images/logo-circle-text-gold.png");
  background-size: cover;
}
.logo-contact {
  background-image: url("images/logo-circle-text-purple.png");
  background-size: cover;
}
.logo-inschrijven {
  background-image: url("images/logo-circle-text-red.png");
  background-size: cover;
}

/* Dropdown styling */
.js-dropdown-list {
  visibility: hidden;
  position: absolute;
  top: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px #ddd;
  transition: all 0.2s ease-in-out 0.2s;
}
.js-dropdown-on {
  top: 50px;
  visibility: visible;
}

.js-dropdown-list a {
  display: block;
  padding-inline: 20px;
  padding-block: 8px;
  margin: 5px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--color-home);
  white-space: nowrap;
}
/* .js-dropdown-list a:hover {
  background-color: #d5dadf;
  border-radius: 3px;
} */
.js-menu-active.menu-activiteiten + ul a:hover {
  background-color: #227ec233;
}
.js-menu-active.menu-ateliers + ul a:hover {
  background-color: #548f4333;
}
.js-menu-active.menu-kunsttheorie + ul a:hover {
  background-color: #f9942733;
}
.js-menu-active.menu-weten + ul a:hover {
  background-color: #fdc33333;
}
.js-menu-active.menu-contact + ul a:hover {
  background-color: #a856a933;
}
.js-menu-active.menu-inschrijven + ul a:hover {
  background-color: #e7524f33;
}

/**
* #.# Search bar
*
* Menu setup with dropdown menus for desktop and smartphone mode.
*/
:root {
  --search-icon-color: #333;
  --search-main-color: #aaa;
  --search-accent-color: #eee;
}

.js-search-container {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 50px;
  /* border: 1px dotted pink; */
  width: 130px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.js-search-button {
  position: absolute;
  right: 4px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  color: var(--search-icon-color);
  height: 80%;
  aspect-ratio: 1 / 1;
}
.js-close-button {
  visibility: hidden;
  position: absolute;
  right: 40px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  color: var(--search-icon-color);
  height: 80%;
  aspect-ratio: 1 / 1;
  transition: all 0.2s ease-in-out;
}
.js-search-button:hover,
.js-close-button:hover {
  background-color: var(--search-accent-color);
}

.js-search-button:active,
.js-close-button:active {
  background-color: var(--search-icon-color);
  color: var(--search-accent-color);
}
.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid var(--search-main-color);
  border-radius: 20px;
  padding-left: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.js-search-active .search-input {
  /* box-shadow: 0px 0px 5px #bbb; */
}

.js-search-active {
  width: 300px;
}

.js-search-active .js-close-button {
  visibility: visible;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .js-menu-active {
    background-color: darkcyan;
  }
}

@media screen and (max-width: 767px) {
  .js-menu-active {
    background-color: deeppink;
  }
}
