@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
/* font-family: "Commissioner", sans-serif; */
/* font-family: "Libre Baskerville", serif; */
/* font-family: "Roboto", sans-serif; */

:root {
  --main-width: 1300px;
  --navigation-height: 100px;
  --footer-height: 250px;
  --js-menu-button-height: 50px;
  --menu-button-padding-block: 15px;
  --menu-button-padding-inline: 20px;
  --search-bar-width: 250px;
  --search-bar-height: 40px;
  --search-bar-corner-rad: 5px;
  --main-margin-width: 15px;
  --logo-margin-top: 5px;

  --color-home: hsl(0, 0%, 5%);
  --color-activiteiten: hsl(206, 70%, 45%);
  --color-ateliers: hsl(107, 36%, 41%);
  --color-kunsttheorie: hsl(31, 95%, 56%);
  --color-info: hsl(43, 98%, 60%);
  --color-contact: hsl(299, 33%, 50%);
  --color-inschrijven: hsl(1, 76%, 61%);
  --clr-menu-separator: hsl(0, 0%, 80%);
  --clr-bg-footer: hsl(0, 0%, 100%);
  --clr-font-footer: hsl(0, 0%, 25%);

  --clr-bg-main: hsl(0, 0%, 95%);

  --search-icon-color: hsl(0, 0%, 65%);
  --search-icon-color-focus: hsl(0, 0%, 100%);
  --search-main-color: hsl(0, 0%, 75%);
  --search-main-color-active: hsl(0, 0%, 10%);
  --search-accent-color: hsl(0, 0%, 75%);
}

/* Current page main color accent */
.home-section {
  --main-accent-color: var(--color-home);
}
.activiteiten-section {
  --main-accent-color: var(--color-activiteiten);
}
.ateliers-section {
  --main-accent-color: var(--color-ateliers);
}
.kunsttheorie-section {
  --main-accent-color: var(--color-kunsttheorie);
}
.info-section {
  --main-accent-color: var(--color-info);
}
.contact-section {
  --main-accent-color: var(--color-contact);
}
.inschrijven-section {
  --main-accent-color: var(--color-inschrijven);
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg-main);
  color: var(--color-home);
  font-family: "Commissioner", sans-serif;

  /* border: 1px solid rgb(255, 0, 234); */
}
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  z-index: 9;
}
main {
  max-width: var(--main-width);
  flex: 1;
  /* border: 1px dotted dodgerblue; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: dodgerblue;
  /* color: var(--main-accent-color); */
  font-family: "Libre Baskerville", serif;
}

/**
* #.# Navigation Menu
*
* Menu setup with dropdown menus for desktop and smartphone mode.
*/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--main-width);
  min-height: var(--navigation-height);
  margin: auto;
  background-color: white;
  /* border: 1px dotted purple; */
}
.logo {
  height: calc(var(--navigation-height) - 30px);
}
.menu-container {
  display: flex;
  margin-inline: 20px;
  /* border: 1px dashed rgb(253, 0, 42); */
}
.js-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  /* Also affects the dropdown menu */
  justify-content: left;
  /* border: 1px dotted green; */
}
.menu-button {
  display: block;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--js-menu-button-height);
  padding-inline: var(--menu-button-padding-inline);
  white-space: nowrap;
  color: var(--color-home);
  font-size: 1.2rem;
  font-weight: 600;
  /* text-decoration: none; */
  user-select: none;

  /* border: 1px dotted deeppink; */
}
.js-menu-item.js-on {
  cursor: pointer;
}
.js-menu-item.js-on .menu-button {
  transition: all 0.2s ease-in-out;
}
/* Menu Items on hover and when the page is active and also logo settings. */
.js-menu-item.js-on .activiteiten,
.js-menu-item:hover .activiteiten {
  color: var(--color-activiteiten);
}
.js-menu-item.js-on .ateliers,
.js-menu-item:hover .ateliers {
  color: var(--color-ateliers);
}
.js-menu-item.js-on .kunsttheorie,
.js-menu-item:hover .kunsttheorie {
  color: var(--color-kunsttheorie);
}
.js-menu-item.js-on .info,
.js-menu-item:hover .info {
  color: var(--color-info);
}
.js-menu-item.js-on .contact,
.js-menu-item:hover .contact {
  color: var(--color-contact);
}
.js-menu-item.js-on .inschrijven,
.js-menu-item:hover .inschrijven {
  color: var(--color-inschrijven);
}
/* Logo on current page */
.home-section .logo {
  background-image: url("images/logo-home.png");
  background-size: cover;
}
.activiteiten-section .logo {
  background-image: url("images/logo-blue.png");
  background-size: cover;
}
.ateliers-section .logo {
  background-image: url("images/logo-green.png");
  background-size: cover;
}
.kunsttheorie-section .logo {
  background-image: url("images/logo-orange.png");
  background-size: cover;
}
.info-section .logo {
  background-image: url("images/logo-gold.png");
  background-size: cover;
}
.contact-section .logo {
  background-image: url("images/logo-purple.png");
  background-size: cover;
}
.inschrijven-section .logo {
  background-image: url("images/logo-red.png");
  background-size: cover;
}

/* Dropdown styling */
.dropdown-list {
  visibility: hidden;
  position: absolute;
  top: 80px;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  background-color: white;
  /* box-shadow: 0px 0px 5px hsl(0, 0%, 50%); */
  transition: all 0.2s ease-in-out;

  /* border: 1px dotted mediumblue; */
}
.js-menu-item.js-on .dropdown-list,
.js-menu-item:hover .dropdown-list {
  /* top: 0px; */
  top: var(--js-menu-button-height);
  visibility: visible;
}

.dropdown-list a {
  display: block;
  padding-inline: 20px;
  padding-block: 15px;
  text-decoration: none;
  color: var(--color-home);
  white-space: nowrap;
}

.dropdown-list li:first-child a {
  border-radius: 5px 5px 0 0;
}
.dropdown-list li:last-child a {
  border-radius: 0 0 5px 5px;
}
.dropdown-list li {
  border-bottom: 1px solid var(--clr-menu-separator);
}
.dropdown-list li:last-child {
  border-bottom: none;
}
.js-menu-item.js-on .activiteiten + ul a:hover,
.js-menu-item.js-on .activiteiten + ul a:active,
.js-menu-item:hover .activiteiten + ul a:hover {
  background-color: hsl(206, 70%, 85%);
}
.js-menu-item.js-on .ateliers + ul a:hover,
.js-menu-item.js-on .ateliers + ul a:active,
.js-menu-item:hover .ateliers + ul a:hover {
  background-color: hsl(107, 36%, 85%);
}
.js-menu-item.js-on .kunsttheorie + ul a:hover,
.js-menu-item.js-on .kunsttheorie + ul a:active,
.js-menu-item:hover .kunsttheorie + ul a:hover {
  background-color: hsl(31, 95%, 85%);
}
.js-menu-item.js-on .info + ul a:hover,
.js-menu-item.js-on .info + ul a:active,
.js-menu-item:hover .info + ul a:hover {
  background-color: hsl(43, 98%, 85%);
}
.js-menu-item.js-on .contact + ul a:hover,
.js-menu-item.js-on .contact + ul a:active,
.js-menu-item:hover .contact + ul a:hover {
  background-color: hsl(299, 33%, 85%);
}
.js-menu-item.js-on .inschrijven + ul a:hover,
.js-menu-item.js-on .inschrijven + ul a:active,
.js-menu-item:hover .inschrijven + ul a:hover {
  background-color: hsl(1, 76%, 85%);
}

/**
* #.# Search bar
*
* Menu setup with dropdown menus for desktop and smartphone mode.
*/
.js-search-container {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: var(--search-bar-width);
  height: var(--search-bar-height);
  margin-left: auto;
  font-size: 1rem;
  /* border: 1px dotted dodgerblue; */
  /* transition: all 0.3s ease-in-out; */
}
.js-search-button {
  height: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--search-main-color);
  border-top-right-radius: var(--search-bar-corner-rad);
  border-bottom-right-radius: var(--search-bar-corner-rad);
  background-color: white;
  color: var(--search-icon-color);
  cursor: pointer;
  font-size: 1rem;
}
.js-close-button {
  display: none;
  position: absolute;
  height: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--main-accent-color);
  border-top-right-radius: var(--search-bar-corner-rad);
  border-bottom-right-radius: var(--search-bar-corner-rad);
  background-color: var(--main-accent-color);
  color: var(--search-icon-color-focus);
  cursor: pointer;
  font-size: 1rem;
}
.js-search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid var(--search-main-color);
  border-right: none;
  border-top-left-radius: var(--search-bar-corner-rad);
  border-bottom-left-radius: var(--search-bar-corner-rad);
  padding-inline: 15px 45px;
  outline: none;
}
.js-search-button:hover {
  background-color: var(--search-accent-color);
  color: var(--search-icon-color-focus);
  /* transition: all 0.3s ease-in-out; */
}
.js-search-container.js-on .js-search-button:hover {
  border-color: var(--main-accent-color);
  background-color: var(--search-accent-color);
  color: var(--search-icon-color-focus);
}

.js-search-container.js-on .js-search-button:active,
.js-search-container.js-on .js-close-button:active {
  background-color: hsl(0, 0%, 10%);
  color: var(--search-icon-color-focus);
}
.js-search-container.js-on .js-search-input {
  border-color: var(--main-accent-color);
}
.js-search-container.js-on .js-search-button {
  position: absolute;
  right: calc(var(--search-bar-height));
  height: 95%;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  color: var(--search-icon-color);
}

.js-search-container.js-on .js-close-button {
  display: block;
  position: relative;
}

/* =========================================================== */
/* BURGER */
/* =========================================================== */

.burger-menu {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  row-gap: 5px;

  top: 15px;
  right: 20px;
  /* border: 1px dotted orange; */
  user-select: none;
  z-index: 10;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--main-accent-color);
  transition-duration: 0.5s;
}
.burger-menu.js-on #burger-first-line {
  width: 20px;
  transform-origin: 100% 0%;
  transform: translateX(10px) translateY(11px) rotate(45deg);
}
.burger-menu.js-on #burger-middle-line {
  transform: rotate(180deg);
}
.burger-menu.js-on #burger-last-line {
  width: 20px;
  transform-origin: 100% 100%;
  transform: translateX(10px) translateY(-11px) rotate(-45deg);
}

/**
* #.# Footer
*
* All the footer settings.
*/

footer {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  border-top: 1px solid var(--clr-menu-separator);
  background-color: var(--clr-bg-footer);
  color: var(--clr-font-footer);
  font-size: 0.9rem;
}
.footer-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 25px;
  width: var(--main-width);
  /* padding-block: 25px; */
}
.footer-container > * {
  margin-block: 25px 15px;
  /* margin-left: 50px; */
}
.footer-logo {
  width: 210px;
}

.footer-block-title {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: var(--clr-font-footer);
  flex-wrap: nowrap;
}

.footer-address a {
  color: var(--clr-font-footer);
}
.footer-address i {
  margin-right: 5px;
}

.footer-map {
  filter: grayscale(1);
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.footer-social-links {
  text-align: right;
}
.footer-social-links a i {
  font-size: 1.8rem;
  padding-left: 10px;
  color: var(--clr-font-footer);
}
.footer-admin-links {
  margin-top: 30px;
}

.footer-admin-links img {
  width: 150px;
  margin-left: 20px;
  /* opacity: 0.9; */
}

.footer-copyright {
  width: 100%;
  border-top: 1px solid var(--clr-menu-separator);
  background-color: var(--clr-bg-main);
}
.footer-copyright p {
  text-align: center;
  padding: 8px;
  margin: 0;
  font-size: 0.8rem;
}

.footer-social-links a i:hover,
.footer-address a:hover {
  color: black;
}
.footer-admin-links img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/**
* #.# UP Scroll Button
*
* Position fixed scroll up and hide
*/
.up-button.on {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  color: var(--main-accent-color);
  font-size: 2.8rem;
  cursor: pointer;
  z-index: 10;
}
.up-button.off {
  display: none;
}

/* MEDIA QUERY */

/* Screen size between: 1024 - 1366 */
@media screen and (max-width: 1365px) {
  :root {
    --main-width: 1000px;
    --navigation-height: 80px;
    /* --search-bar-width: 160px; */
    --search-bar-height: 40px;
    --menu-button-padding-inline: 10px;
  }
  .menu-button {
    font-size: 1.1rem;
  }
  .footer-admin-links img {
    width: 115px;
  }
}

/* Screen size between: 768 - 1024 */
@media screen and (max-width: 1023px) {
  :root {
    /* --main-width: 998px; */
    --navigation-height: 100px;
    --search-bar-width: 250px;
    --search-bar-height: 40px;
    --menu-button-padding-inline: 20px;
  }

  main {
    margin-inline: var(--main-margin-width);
  }
  .logo {
    margin-top: var(--logo-margin-top);
  }
  .navigation {
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-inline: var(--main-margin-width);
  }
  .menu-container {
    order: 3;
    justify-content: center;
  }
  /* Changes just the last dropdown */
  .menu-container .js-menu-item:last-child .dropdown-list {
    right: -15px;
  }

  .footer-container {
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: var(--main-margin-width);
    width: unset;
  }
  .footer-logo {
    order: 1;
    width: 130px;
  }

  .footer-map,
  .footer-map * {
    display: none;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    flex: 1 1 100%;
    order: 2;
  }
  .footer-social-links {
    text-align: left;
  }
  .footer-social-links a i {
    padding-left: 0px;
    padding-right: 10px;
  }
  .footer-admin-links img {
    margin-left: 0;
    margin-right: 10px;
    /* width: 140px; */
  }
}

/* Screen size between: 0 - 768 */
@media screen and (max-width: 767px) {
  :root {
    --navigation-height: 65px;
    /* --search-bar-width: 250px; */
    --search-bar-height: 40px;
    --main-margin-width: 10px;
    --clr-menu-separator: hsl(0, 0%, 80%);
  }
  .burger-menu {
    visibility: visible;
  }
  nav.js-off .menu-container,
  nav.js-off .js-search-container {
    display: none;
    visibility: hidden;
  }
  nav.js-on .menu-container,
  nav.js-on .js-search-container {
    visibility: visible;
  }
  .navigation {
    justify-content: left;
  }
  .logo {
    height: var(--navigation-height);
  }
  .menu-container {
    position: absolute;
    flex-flow: column;
    /* justify-content: flex-start; */
    top: calc(var(--navigation-height) + var(--logo-margin-top));
    right: 0px;
    width: 100vw;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 80px hsl(0, 0%, 5%);
    /* z-index: 8; */
  }
  .menu-container .js-menu-item:last-child .dropdown-list {
    right: unset;
  }
  .menu-button {
    margin-left: 20px;
  }
  .js-menu-item {
    flex-flow: column;
    align-items: flex-start;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }
  .dropdown-list {
    width: 100%;
    border: unset;
    box-shadow: none;
    transform: scaleY(10%);
    transition: all 0s ease-in;
  }
  .js-menu-item.js-on .dropdown-list {
    position: relative;
    top: 0;
    left: 0;
    transform: scaleY(100%);
    transition: all 0.3s ease-in;
  }
  .dropdown-list li:first-child {
    border-top: 1px solid var(--clr-menu-separator);
  }
  .dropdown-list a {
    padding-left: 60px;
  }
  .js-search-container {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(var(--navigation-height) + var(--logo-margin-top));
    width: 100vw;
    padding-inline: 40px 80px;
    background-color: hsl(0, 0%, 90%);
    /* z-index: 9; */
  }
  .js-search-input,
  .js-close-button,
  .js-search-button {
    height: var(--search-bar-height);
  }
  .js-search-container.js-on .js-search-button {
    margin-right: 80px;
  }
  .footer-logo {
    /* order: unset; */
  }
}
