:root {
  --main-width: 1300px;
}
body {
  display: flex;
  justify-content: center;
}

.image-gallery-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(var(--main-width) / 4);
  width: var(--main-width);
}
.image-gallery {
  display: flex;
  overflow: hidden;
  border-radius: 3px;
}
.image-gallery:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.image-gallery:nth-child(4) {
  grid-column: 3 / span 2;
  grid-row: 1;
}
.image-gallery img {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  /* margin: 0; */
}
.image-gallery > img:hover {
  transform: scale(1.2);
}

/* MEDIA QUERY */

/* Screen size between: 1024 - 1366 */
@media screen and (max-width: 1365px) {
  :root {
    --main-width: 1000px;
  }
}

/* Screen size between: 768 - 1024 */
@media screen and (max-width: 1023px) {
  .image-gallery-container {
    grid-auto-rows: calc(100vw / 4);
    gap: 5px;
  }
}

/* Screen size between: 0 - 768 */
@media screen and (max-width: 767px) {
  /* .image-gallery {
    display: flex;
    overflow-y: scroll;
  }
  .image-gallery img {
    width: 200px;
    height: 200px;
  } */
}
