body {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.burger {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.burger span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: black;
}
.burger-active span {
  transition-duration: 0.5s;
}
.burger-active #burger-first-line {
  /* background-color: dodgerblue; */
  width: 20px;
  transform-origin: 100% 0%;
  transform: translateX(10px) translateY(11px) rotate(45deg);
}

.burger-active #burger-middle-line {
  /* background-color: salmon; */
  transform: rotate(180deg);
}

.burger-active #burger-last-line {
  /* background-color: blueviolet; */
  width: 20px;
  transform-origin: 100% 100%;
  transform: translateX(10px) translateY(-11px) rotate(-45deg);
}
